<div class="disclaimer-container">
  <h5>Medical Disclaimer</h5>
  <h6>Content on HealthChat is for informational purposes only and not a substitute for professional medical advice or treatment. Always consult with a healthcare professional for medical concerns. Do not ignore medical advice or delay seeking it due to information on this site. If facing a medical emergency, seek immediate medical attention.</h6>
</div>
</body>
</html>
