<% if (!user) { %>
  <script defer src="https://accounts.google.com/gsi/client"></script>
<% } %>
</head>
<body>
<div class="nav-container">
  <nav>
    <a href="/discussions" class="nav-A-container">ALL DISCUSSIONS</a>
    <a href="/symptoms"class="nav-A-container">ALL SYMPTOMS</a>
    <% if (user) { %>
    <a href="/discussions/new/" class="nav-A-container">ADD DISCUSSION</a>
    <a href="/symptoms/new/" class="nav-A-container">ADD SYMPTOM</a>
    <a href="/auth/logout"class="nav-A-container">LOGOUT</a>
    <% } else { %>
    <div 
      id="g_id_onload"
      data-client_id="<%= googleClientID %>"
      data-login_uri="/auth/google"
      data-auto_prompt="false"
    ></div>
    <div 
      class="g_id_signin"
      data-type="standard"
      data-size="large"
      data-theme="outline"
      data-text="sign_in_with"
      data-shape="rectangular"
      data-logo_alignment="left"
    ></div>
    <% } %>
  </nav>
</div>

<header>
  <div class="image-container">
    <img src="/assets/healthchat-logo.png" alt="HealthChat Logo">
  </div>
</header>