:root {
  --dark: #11151C;
  --background: #F5F3F5;
  --text-color: #364156;
  --button-color: #7D4E57;
  --secondary-background: #FFFDED;
  --primary-font: 'Signika', sans-serif;
  --secondary-font: 'Swanky and Moo Moo', cursive;
}

body {
  font-family: var(--primary-font);
  background-color: var(--background);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-size: 25px; 
}

section {
  background-color: var(--secondary-background);
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

h1 {
  font-size: 35px;
  margin-bottom: 20px;
  color: var(--dark);
  border-bottom: 2px solid var(--button-color);
  padding-bottom: 10px;
}

input[type="text"], textarea {
  padding: 12px; 
  border: 1px solid var(--button-color);
  background-color: var(--secondary-background);
  color: var(--text-color);
  border-radius: 5px;
  width: 90%;
  margin-bottom: 15px;
  transition: background-color 0.3s, border 0.3s;
  font-family: var(--secondary-font); 
  font-size: 20px; 
}

input[type="text"]:focus, textarea:focus {
  background-color: var(--secondary-background);
  border-color: var(--dark);
  outline: none;
}

button {
  --b: 3px; 
  --s: .45em;
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;
  font-family: var(--primary-font);
  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover,
button:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

button:active {
  background: var(--color);
  color: #fff;
}

.checkbox-wrapper-55 input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-55 *,
.checkbox-wrapper-55 ::after,
.checkbox-wrapper-55 ::before {
  box-sizing: border-box;
}

.checkbox-wrapper-55 .rocker {
  display: inline-block;
  position: relative;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #888;
  width: 7em;
  height: 4em;
  overflow: hidden;
  border-bottom: 0.5em solid #eee;
}

.checkbox-wrapper-55 .rocker-small {
  font-size: 0.45em;
}

.checkbox-wrapper-55 .rocker::before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #999;
  border: 0.5em solid #eee;
  border-bottom: 0;
}

.checkbox-wrapper-55 .switch-left,
.checkbox-wrapper-55 .switch-right {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 3em;
  transition: 0.2s;
  user-select: none;
}

.checkbox-wrapper-55 .switch-left {
  height: 2.4em;
  width: 2.75em;
  left: 0.85em;
  bottom: 0.4em;
  background-color: #ddd;
  transform: rotate(15deg) skewX(15deg);
}

.checkbox-wrapper-55 .switch-right {
  right: 0.5em;
  bottom: 0;
  background-color: var(--dark);
  color: #fff;
}

.checkbox-wrapper-55 .switch-left::before,
.checkbox-wrapper-55 .switch-right::before {
  content: "";
  position: absolute;
  width: 0.4em;
  height: 2.45em;
  bottom: -0.45em;
  background-color: #ccc;
  transform: skewY(-65deg);
}

.checkbox-wrapper-55 .switch-left::before {
  left: -0.4em;
}

.checkbox-wrapper-55 .switch-right::before {
  right: -0.375em;
  background-color: transparent;
  transform: skewY(65deg);
}

.checkbox-wrapper-55 input:checked + .switch-left {
  background-color: var(--button-color);
  color: #fff;
  bottom: 0px;
  left: 0.5em;
  height: 2.5em;
  width: 3em;
  transform: rotate(0deg) skewX(0deg);
}

.checkbox-wrapper-55 input:checked + .switch-left::before {
  background-color: transparent;
  width: 3.0833em;
}

.checkbox-wrapper-55 input:checked + .switch-left + .switch-right {
  background-color: #ddd;
  color: #888;
  bottom: 0.4em;
  right: 0.8em;
  height: 2.4em;
  width: 2.75em;
  transform: rotate(-15deg) skewX(-15deg);
}

.checkbox-wrapper-55 input:checked + .switch-left + .switch-right::before {
  background-color: #ccc;
}

/* Keyboard Users */
.checkbox-wrapper-55 input:focus + .switch-left {
  color: #333;
}

.checkbox-wrapper-55 input:checked:focus + .switch-left {
  color: #fff;
}

.checkbox-wrapper-55 input:focus + .switch-left + .switch-right {
  color: #fff;
}

.checkbox-wrapper-55 input:checked:focus + .switch-left + .switch-right {
  color: #333;
}

.symptom-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkbox-wrapper-55 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.add-comment {
  width: fit-content;
}