:root {
  --dark: #11151C;
  --background: #F5F3F5;
  --text-color: #364156;
  --button-color: #7D4E57;
  --secondary-background: #FFFDED;
}

body {
  background-color: var(--background);
  font-family: 'Signika', sans-serif;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Swanky and Moo Moo', cursive;
}

a {
  color: var(--text-color);
  font-family: 'Signika', sans-serif;
}

a:hover {
  color: var(--button-color);
}

section {
  border: 1px solid var(--dark);
  padding: 20px;
  background-color: var(--secondary-background);
  margin: 20px auto;
  max-width: 800px; 
  border-radius: 8px;
}

h2, h3 {
font-family: 'Signika', sans-serif;
margin-top: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  font-family: 'Swanky and Moo Moo', cursive;
}

li a {
  border-bottom: 1px dashed var(--text-color);
  transition: color 0.3s ease;
}
