:root {
  --dark: #11151C;
  --background: #F5F3F5;
  --text-color: #364156;
  --button-color: #7D4E57;
  --secondary-background: #FFFDED;
  --primary-font: 'Signika', sans-serif;
  --secondary-font: 'Swanky and Moo Moo', cursive;
}

body {
  font-family: var(--primary-font);
  background-color: var(--background);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-size: 25px; 
}

section {
  background-color: var(--secondary-background);
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

h1 {
  font-size: 35px;
  margin-bottom: 20px;
  color: var(--dark);
  border-bottom: 2px solid var(--button-color);
  padding-bottom: 10px;
}

a {
  font-family: var(--primary-font);
  font-size: 20px;
  color: var(--text-color);
}

span {
  font-family: var(--secondary-font);
  font-size: 30px;
  color: var(--text-color);
}

.nav-A-container {
  color: var(--background)
}
