:root {
    --dark: #11151C;
    --background: #F5F3F5;
    --text-color: #364156;
    --button-color: #7D4E57;
    --secondary-background: #FFFDED;
}

nav#top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--button-color);
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s;
    font-family: 'Signika', sans-serif; 
    font-size: 15px; 
}
