:root {
  --dark: #11151C;
  --background: #F5F3F5;
  --text-color: #364156;
  --button-color: #7D4E57;
  --secondary-background: #FFFDED;
  --primary-font: 'Signika', sans-serif;
  --secondary-font: 'Swanky and Moo Moo', cursive;
}

body {
  font-family: var(--primary-font);
  background-color: var(--background);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-size: 15px; 
}

section {
  background-color: var(--secondary-background);
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 35px;
  margin-bottom: 20px;
  color: var(--dark);
}

input[type="text"], textarea {
  padding: 12px; 
  border: 1px solid var(--button-color);
  background-color: var(--secondary-background);
  color: var(--text-color);
  border-radius: 5px;
  width: 90%;
  margin-bottom: 15px;
  transition: background-color 0.3s, border 0.3s;
  font-family: var(--secondary-font); 
}

input[type="text"]:focus, textarea:focus {
  background-color: var(--secondary-background);
  border-color: var(--dark);
  outline: none;
}

button {
  background-color: var(--button-color);
  color: var(--secondary-background);
  border: none;
  padding: 8px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: var(--primary-font); 
  font-size: 10px; 
}

button:hover {
  background-color: var(--text-color);
  color: var(--background);
  transform: translateY(-2px); 
}

button:active {
  transform: translateY(0); 
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(125, 78, 87, 0.3); 
}

.btn-container {
  display: inline-flex;
  justify-content: space-between;
  gap: 10px;
}

.discussion-author, .discussion-text {
  font-family: var(--primary-font);
}

.discussion-text {
  font-size: 18px;
}

.ejs-comment {
  font-family: var(--secondary-font);
  font-size: 22px;
}

.ejs-reply {
  font-family: var(--secondary-font);
  font-size: 22px;
}

ul {
  font-family: var(--secondary-font);
  font-size: 20px;
}

p {
  border-bottom: 2px solid var(--button-color);
}